.call{
    max-width: 100%;
    background-color: #0476D9;
}
.call-content{
    text-align: center;
    padding: 30px 100px;
}
.call-content h3,
.call-content p{
    color: #fff;
}
.call-content h3{
    font-size: 50px;
}
.call-content p{
    font-size: 23px;
}
.call-btn{
    height: 40px;
    color: #012840;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    border: 1px solid #fff;
    font-size: 17px;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 20px;
    width: fit-content;
}
.call-btn:active{
    transform: scale(0.8);
}
.call-btn,
.call-content p{
    margin-top: 30px;
}

/* Start Rwd */
@media screen and (min-width: 401px) and (max-width: 767px) {
    .call{
        max-width: 100%;
    }
    .call-content{
        text-align: center;
        padding: 30px 20px;
    }
    .call-content h3{
        font-size: 30px;
    }
    .call-content p{
        font-size: 17px;
    }
}
@media screen and (max-width: 400px){
    .call{
        max-width: 100%;
    }
    .call-content{
        text-align: center;
        padding: 30px 10px;
    }
    .call-content h3{
        font-size: 24px;
    }
    .call-content p{
        font-size: 15px;
    }
    .call-btn{
        font-size: 16px;
    }
}
/* End Rwd */
